* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Notosans;
}
:root {
    --rtc-primary-color: #7faea6;
    --rtc-secondary-color: #000000;
    --rtc-tertiary-color: #FFFFFF;
    --rtc-background-color: #1090cb2b;
}

@font-face {
    font-family: Notosans;
    src:url(./Assets/Noto_Sans/static/NotoSans-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;

}

h1 {
    padding: 20px;
    width: 100%;
    
}

header > ul {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-content: center;
    list-style: none;
    background-color: var(--rtc-primary-color) ;
}

header > ul > li {
    border-color: cadetblue solid 2px;
}
body {
    
    
}

section > img {
    width: 300px;
    height: 200px;
}